<h1>Registrarse</h1>
<form action='/auth/register' method='POST'>
  <input type='text' name='firstName' placeholder='First Name: ' />
  <input type='text' name='lastName' placeholder='Last Name: ' />
  <input type='number' name='age' placeholder='Age: ' />
  <input type='text' name='email' placeholder='Email: ' />
  <input type='password' name='password' placeholder='Pass: ' />
  <input type='submit' value='Registrarse!' />
</form>

<a href='/api/sessions/github'><button>Registrarse con Github</button></a>
<br />
<br />
<br />

<a href='/auth/login'>Ya tengo una cuenta</a>